@{
    ViewBag.Title = "Musical Director";
}

@section styles
{
    <style>
        .conductor-img {
            float: left;
            margin-right: 20px;
        }
    </style>
}

<article>
    <h3>Chad Davenport</h3>
    <div class="conductor-img">
        <img alt="Conductor" src="~/Images/conductor2014.jpg" />
    </div>
    <div>
        <p>
            Chad Davenport is thrilled to join WestCity Concert Band for their 2014 season. 
            Chad got his start in the American band scene and has had extensive experience conducting bands 
            in both America and New Zealand. He is passionate about building musicianship and ‘heart’ among band members. 
            He also enjoys creating innovative performances that connect with audiences.
        </p>
        <p>
            This year Chad hopes to build on WCCB’s recent success and lay the groundwork for a youth band for 
            west Auckland students.
        </p>
        <p>
            When Chad is not working with bands, he can often be found tramping, working in the garden or cooking up a new 
            recipe with his wife, Diane.
        </p>
    </div>
</article>



