@{
    ViewBag.Title = "Roles";
}

@(Html.Kendo().Grid<RoleGridModel>()
    .Name("grid-roles")
    .DataSource(ds => ds
        .Ajax()
        .Model(model =>
                   {
                       model.Id(role => role.RoleId);
                   })
        .Read("GetRoles", "Role", new { @area = "Administration" })
        
        )
        .Pageable()
    .ToolBar(tbar =>
                 {
                     tbar.Template(@<text>
                                        @Html.ActionLink("Create New", "Create", "Role", null, new { @class = "k-button" })
                                    </text>);
                 })
    .Columns(col =>
                 {
                     col.Bound(x => x.Name);
                     col.Bound(x => x.UserCount).Title("User Count");
                     col.Bound(x => x.RoleId).ClientTemplate("" +
                                                             "# if (UserCount <= 0) { #" +
                                                             "      <a class='k-button' href='Administration/Role/Delete/#=RoleId#'>Delete</a>" +
                                                             "# } #" +
                                                             "").Title("Actions");
                 })
      )
