@model WCCB.Models.User




@using(Html.BeginForm())
{
    
    <div class="editor-field">
        <input id="import-file" type="file" name="file" />
        <input type="submit" value="Submit" />       
    </div>
}
