@model WCCB.Models.User

<h3>Administrators Functions</h3>
@if (User.IsInRole("Administrators"))
{
    @Html.ActionLink("Users", "Index", "User", new { area = "Administration" }, null) <br/>
    @Html.ActionLink("Roles", "Index", "Role", new { area = "Administration" }, null) <br/>
    @Html.ActionLink("Members", "Contact", "Home")
}


@*@using(Html.BeginForm())
{
    
    <div class="editor-field">
        <input id="import-file" type="file" name="file" />
        <input type="submit" value="Submit" />       
    </div>
}*@
