@model WCCB.Models.User

@{
    ViewBag.Title = "My Profile";
}

<h3>@string.Format("{0} {1}", Model.UserProfile.Firstname, Model.UserProfile.Lastname)</h3>

<div class="profile_picture left">
    
</div>
<div class="right">
    
</div>