@model WCCB.Models.User

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>User</legend>
    
    
    

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
